/***************************************
   Default Styles
************************************** */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 100% Druckschrift BY WOK; /* gefunden auf: http://schulschriften.net/kostenlose-schriften/ */
  color: #000;
  background: #fff;
}

.mit-rand {
  margin: 10px;
  border: 1px solid blue;
}

.unsichtbar {
  display: none;
}

#spielfeld {
 height: 70%; 
 border: 1px solid #ccc; 
 padding: 1rem 1rem 0 0; 
 margin: 0 auto; 
 position: relative;
}

.karte {
  float:left; 
  position:relative;
}

.karten-inhalt {
  text-align: center;
  font-size: 200%;  
  position: absolute; 
  top:0; 
  right:0; 
  bottom: 1rem;
  left: 1rem; 
  border: 1px solid blue;
}

.verdeckt {
  background: blue;
}

.aufgedeckt {
  background: khaki;
}

.paar-passt {
  background: lightgreen;
}
.paar-passt-nicht {
  background: salmon;
}