@font-face {
    font-family: DruckschriftBayern;
    src: url('Druckschrift_BY_WOK.ttf');
    /* gefunden auf: http://schulschriften.net/kostenlose-schriften */
    /* Lizenzbedingungen:
    Die verlinkte Schrift ist im Programm Lesen lernen enthalten. Die Lizenzbedingungen hierfür lauten:

    Die im Programm verwendete Schriftart „Druckschrift_BY_WOK.ttf“ steht – je nach Ihrer Wahl – 
    unter der „Gnu Free Documentation License“ oder unter der „Creative Commons SA-BY-3.0“-Lizenz.  
    Bei Verwendung der Schriftart außerhalb des Programms „Lesen Lernen“ ist als Quelle der Schriftart 
    anzugeben: „Die Schritart ‚Druckschrift BY WOK‘ entstammt dem kostenlosen Programm ‚Lesen Lernen‘ 
    von Wolfram Esser, www.derwok.de“. */
}

@font-face {
    font-family: VereinfachteAusgangsschrift;
    src: url('VAu30k.ttf');
    /* gefunden auf: http://www.pelikan.com/pulse/Pulsar/de_DE.CMS.displayCMS.116099./unterrichtshilfen-und-downloads */
}

/***************************************
   Default Styles
************************************** */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 200% DruckschriftBayern;  
  color: #000;
  background: #fff;
}

.ui-widget {
  font: 100% DruckschriftBayern;  
}

.mit-rand {
  margin: 10px;
  border: 1px solid blue;
}

.unsichtbar {
  display: none;
}

.karten-text-unsichtbar {
  display: none;
  color: blue;
}

#titel {
  text-align: center;
  font-size: 125%;
}

#spielfeld {
 height: 85%; 
 padding: 1rem 1rem 0 0; 
 margin: 0 auto; 
 position: relative;
}

.ui-dialog {
  font-size: 125%;
}

.horizontal {
  float:left; 
  position:relative;
}

.karten-inhalt {
  position: absolute; 
  top:0; 
  right:0; 
  bottom: 0.6rem;
  left: 0.6rem; 
  border: 1px solid blue;

  /* Zentrierung */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.druckschrift {
  font: 100% DruckschriftBayern;  
}

.schreibschrift {
  font: 100% VereinfachteAusgangsschrift;  
}

.verdeckt {
  background: blue;
  cursor: pointer;
}

.aufgedeckt {
  background: khaki;
}

.paar-passt {
  background: lightgreen;
}
.paar-passt-nicht {
  background: salmon;
}