@font-face {
    font-family: DruckschriftBayern;
    src: url('Druckschrift_BY_WOK.ttf');
    /* gefunden auf: http://schulschriften.net/kostenlose-schriften */
}
/***************************************
   Default Styles
************************************** */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 200% DruckschriftBayern;  
  color: #000;
  background: #fff;
}

.ui-widget {
  font: 100% DruckschriftBayern;  
}

.mit-rand {
  margin: 10px;
  border: 1px solid blue;
}

.unsichtbar {
  display: none;
}

.karten-text-unsichtbar {
  display: none;
  color: blue;
}

#titel {
  text-align: center;
}

#spielfeld {
 height: 85%; 
 padding: 1rem 1rem 0 0; 
 margin: 0 auto; 
 position: relative;
}

.horizontal {
  float:left; 
  position:relative;
}

.karten-inhalt {
  position: absolute; 
  top:0; 
  right:0; 
  bottom: 1rem;
  left: 1rem; 
  border: 1px solid blue;

  /* Zentirerung */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.karten-text {
  font-size: 200%;  
}

.verdeckt {
  background: blue;
  cursor: pointer;
}

.aufgedeckt {
  background: khaki;
}

.paar-passt {
  background: lightgreen;
}
.paar-passt-nicht {
  background: salmon;
}